$primary-color: #234524;
$max-width-container: 1352px;
$padding-container: 0 16px;
$main-text-color: #444;
$hover-link-color: #2ecc71;
$link-color: #1E90FF;
$section-margin: 50px 0;
$section-padding: 50px 0;
$main-font: "Inter", sans-serif;